.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.main p {
  width: var(--max-width);
  padding-top: 1rem;
}

.description, .mainPanel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.description div {
  display: flex;
  flex-direction: column;
}

.description button {
  width: 10rem;
}

.mainPanel {
  margin-top: 2rem;
}

.mainPanelInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: inherit;
}

.toggleSwitch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 10rem;
  align-self: center;
}

.alert {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 50%;
  top: calc(100vh/2);
  padding: 1rem;
  margin: 1rem;
  background-color: rgba(var(--callout-rgb), 1);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
  box-shadow: rgb(0 0 0 / 24%) 12px 16px 24px, rgb(0 0 0 / 24%) 12px 8px 12px, rgb(0 0 0 / 32%) 4px 4px;
  z-index: 1;
}

.alert div {
  margin-bottom: 10px;
}

.alert a {
  text-decoration: underline;
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 2s infinite;
  animation: ellipsis steps(4, end) 2s infinite;
  content: "\2026";
  /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

.footer {
  color: #585f69;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer p {
  width: unset;
  padding: unset;
}

.footer div {
  display: flex;
  z-index: 1;
}

.footer svg {
  cursor: pointer;
  fill: var(--footer-svg-fill);
  border-radius: 0.5rem;
  margin-left: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(50%, auto));
  width: var(--max-width);
  max-width: 100%;
  margin-top: 2rem;
}

.card {
  text-align: center;
  padding: 1rem;
  margin: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
  box-shadow: rgb(0 0 0 / 24%) 12px 16px 24px, rgb(0 0 0 / 24%) 12px 8px 12px, rgb(0 0 0 / 32%) 4px 4px;
}

.card form {
  display: inline-grid;
  margin-top: 1rem;
  width: 95%;
}

.card label {
  text-align: initial;
  font-weight: bold;
  margin-top: 1rem;
}

.card input {
  height: 2rem;
  padding: 5px;
}

.card button {
  height: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

/* Style */
.centeredText {
  text-align: center;
}

/* MEDIA */

@media (max-width: 426px) {
  .main {
    padding: 3rem 0;
  }

  .alert {
    width: 75% !important;
  }
}

@media (max-width: 793px) {
  .description, .mainPanelInfo {
    justify-content: center;
    text-align: center;
    flex-direction: column;
    word-break: break-word;
  }

  .grid {
    grid-template-columns: auto;
    margin-bottom: 1rem;
    text-align: center;
  }

  .alert {
    width: 45%;
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}
