.walletSelector {
  z-index: 2;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: opacity .25s;
}

.walletSelector div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 25%;
  width: 25%;
  background: var(--panel-background);
  border: 1px solid var(--panel-border-rgb);
  border-radius: var(--border-radius);
  box-shadow: rgb(0 0 0 / 24%) 12px 16px 24px, rgb(0 0 0 / 24%) 12px 8px 12px, rgb(0 0 0 / 32%) 4px 4px;
}

.walletSelector button {
  width: 15rem;
  font-size: 20px;
  font-weight: bold;
  padding: 0.5rem;
  background: var(--button-color);
  border: none;
  border-radius: var(--buton-border);
  color: black;
  cursor: pointer;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.main p {
  width: var(--max-width);
  padding-top: 1rem;
}

.header,
.mainPanel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  font-family: var(--font-family);
}

.header button {
  color: black;
  width: 10rem;
  height: 1.5rem;
  background: var(--button-color);
  border: none;
  border-radius: var(--buton-border);
  cursor: pointer;
}

.header button:hover {
  background: var(--button-hover-color);
}

.headerInfo {
  display: flex;
  flex-direction: row;
}

.headerInfo svg {
  cursor: pointer;
  align-self: center;
  margin-left: 1rem;
}

.headerWallet {
  display: flex;
  flex-direction: column;
}

.mainPanel {
  margin-top: 2rem;
}

.mainPanelInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: inherit;
}

.alert {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 50%;
  top: calc(100vh/2);
  padding: 1rem;
  margin: 1rem;
  background: var(--panel-background);
  border: 1px solid var(--panel-border-rgb);
  border-radius: var(--border-radius);
  box-shadow: rgb(0 0 0 / 24%) 12px 16px 24px, rgb(0 0 0 / 24%) 12px 8px 12px, rgb(0 0 0 / 32%) 4px 4px;
  z-index: 1;
}

.alert div {
  margin-bottom: 10px;
}

.alert a {
  text-decoration: underline;
}

.alert button {
  color: black;
  background: var(--button-color);
  border: none;
  border-radius: var(--buton-border);
  height: 2rem;
  cursor: pointer;
}

.alert button:hover {
  background: var(--button-hover-color);
}

.loading {
  color: var(--description-text-color);
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 2s infinite;
  animation: ellipsis steps(4, end) 2s infinite;
  content: "\2026";
  /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

.footer {
  color: #585f69;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer p {
  width: unset;
  padding: unset;
}

.footer div {
  display: flex;
  z-index: 1;
}

.footer svg {
  cursor: pointer;
  fill: var(--footer-svg-fill);
  border-radius: 0.5rem;
  margin-left: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(50%, auto));
  width: var(--max-width);
  max-width: 100%;
  margin-top: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 1rem;
  margin: 1rem;
  background: var(--panel-background);
  border: 1px solid var(--panel-border-rgb);
  border-radius: var(--border-radius);
  box-shadow: rgb(0 0 0 / 24%) 12px 16px 24px, rgb(0 0 0 / 24%) 12px 8px 12px, rgb(0 0 0 / 32%) 4px 4px;
}

.card form {
  display: inline-grid;
  margin-top: 1rem;
  width: 100%;
}

.card label {
  text-align: initial;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 5px;
}

.card input {
  height: 2rem;
  padding: 5px;
}

.card button {
  color: black;
  height: 2rem;
  margin-bottom: 1rem;
  cursor: pointer;
  background: var(--button-color);
  border: none;
  border-radius: var(--buton-border);
}

.card button:hover {
  background: var(--button-hover-color);
}

.card button:disabled {
  background: var(--disabled-button-color);
}

.headerText {
  background: var(--header-text-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.descriptionText, .formDescriptionText {
  color: var(--description-text-color);
}

.formDescriptionText {
  padding: 0.5rem;
  text-align: initial;
}

/* Style */
.centeredText {
  text-align: center;
}

/* MEDIA */

@media (max-width: 426px) {
  .main {
    padding: 3rem 0;
  }

  .alert {
    width: 75% !important;
  }
}

@media (max-width: 620px) {
  .walletSelector div {
    width: 80% !important;
  }
}

@media (max-width: 793px) {

  .header,
  .mainPanelInfo {
    justify-content: center;
    text-align: center;
    flex-direction: column;
    word-break: break-word;
  }

  .headerInfo {
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .grid {
    grid-template-columns: auto;
    margin-bottom: 1rem;
    text-align: center;
  }

  .alert {
    width: 45%;
  }
}

@media (max-width: 1000px) {
  .walletSelector div {
    width: 40%;
  }
}

@media (max-height: 900px) {
  .walletSelector div {
    height: 50%;
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}